/*NAV TAB*/

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*ICONS AND THEIR TEXT*/

.icontext{
    font-size: 30px;
    color: #818181;
}

.large-icon{
    font-size: 58px;
}

.small-icon{
    font-size: 30px;
    display: inline-block;
    margin-bottom: 9px;
}

.material-icons{
    color: #818181;
}

.center-icon{
    text-align: center;
}

.fa{
    color: #818181;
}

/*HEADINGS*/
.name-heading{
    padding-top: 50px;
    color: white;
}

.section-heading{
    color:rgba(255, 163, 31, 0.81);
}


/*OTHER*/

.inline{
    display: inline-block;
}

.nav_spacer{
    padding-left: 15%;
}

/*IMAGE*/

.imagedim{
    width: 250px;
    height: 250px;
}

.imagedimsmall{
    width: 100px;
    height: 100px;
}


/*NAV TEXT*/
.side-align{
    padding-left: 20px;
    text-align: left;
}


.side-align-text{
    padding-left: 5px;
    color: #818181;;
    display: inline-block;
}



