<div class="row container">
    <img class="img-responsive img-circle imagedimsmall center-icon" src="img/PP.jpg">
    <a href="#" ng-click="vm.openNav()">
        <h1 class="name-heading">Andreas von Holy</h1>
    </a>
</div>
<div>
    <div class="row side-align" title="About">
        <a href="/about">
            <i class="material-icons small-icon">info</i>
            <h4 class="side-align-text">About</h4>
        </a>
    </div>
    <div class="row side-align" title="Projects">
        <a href="/projects">
            <i class="material-icons small-icon">folder</i>
            <h4 class="side-align-text">Projects</h4>
        </a>
    </div>
    <div class="row side-align" title="CV">
        <a href="/work">
            <i class="material-icons small-icon">work</i>
            <h4 class="side-align-text">Work</h4>
        </a>
    </div>
</div>
<div>
    <!--<hr>-->
    <br><br>
    <div class="row side-align" title="Contact">
        <a href="documents/CV%20-%20Andreas%20von%20Holy.pdf" target="_blank">
            <i class="fa fa-file-text-o small-icon" aria-hidden="true"></i>
            <h4 class="side-align-text">CV</h4>
        </a>
    </div>
    <div class="row side-align" title="Contact">
        <a href="mailto:andreas409@gmail.com">
            <i class="material-icons small-icon">email</i>
            <h4 class="side-align-text">Email</h4>
        </a>
    </div>
    <div class="row side-align" title="LinkedIn">
        <a href="https://www.linkedin.com/in/andreas-von-holy-4a87026b" target="_blank">
            <i class="fa fa-linkedin-square small-icon" aria-hidden="true"></i>
            <h4 class="side-align-text">LinkedIn</h4>
        </a>
    </div>
    <div class="row side-align" title="GitHub">
        <a href="https://github.com/andreasVHoly" target="_blank">
            <i class="fa fa-github-square small-icon" aria-hidden="true" ></i>
            <h4 class="side-align-text">GitHub</h4>
        </a>
    </div>
</div>