<div class="row center-icon">
    <img class="img-responsive img-circle inline imagedim" src="img/PP.jpg">
    <a href="#" ng-click="vm.openNav()"><h1 class="name-heading inline">Andreas von Holy</h1></a>
    <br><br>
</div>
<div>
    <div class="row">
        <a class="inline col-md-4 center-icon" href="#" ng-click="vm.closeNav(1)">
            <i class="material-icons large-icon ">info</i>
            <div class="row icontext">
                About
            </div>
        </a>
        <a class="inline col-md-4 center-icon" href="#" ng-click="vm.closeNav(2)">
            <i class="material-icons large-icon">folder</i>
            <div class="row icontext">
                Projects
            </div>
        </a>
        <a class="inline col-md-4 center-icon" href="#" ng-click="vm.closeNav(3)">
            <i class="material-icons large-icon">work</i>
            <div class="row icontext">
                Work
            </div>
        </a>
    </div>
    <br><br>
</div>
<div>
    <div class="row">
        <a class="inline col-md-3 center-icon" href="documents/CV%20-%20Andreas%20von%20Holy.pdf" target="_blank">
            <i class="fa fa-file-text-o large-icon" aria-hidden="true"></i>
            <div class="row icontext">
                CV
            </div>
        </a>
        <a class="inline col-md-3 center-icon" href="mailto:andreas409@gmail.com">
            <i class="material-icons large-icon">email</i>
            <div class="row icontext">
                Email
            </div>
        </a>
        <a class="inline col-md-3 center-icon" href="https://www.linkedin.com/in/andreas-von-holy-4a87026b" target="_blank">
            <i class="fa fa-linkedin-square large-icon" aria-hidden="true"></i>
            <div class="row icontext">
                LinkedIn Profile
            </div>
        </a>
        <a class="inline col-md-3 center-icon" href="https://github.com/andreasVHoly" target="_blank">
            <i class="fa fa-github-square large-icon" aria-hidden="true"></i>
            <div class="row icontext">
                GitHub Profile
            </div>
        </a>
    </div>
</div>
