<div id="mySidenav">
    <div ng-show="vm.expanded" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sidenav">
        <div ng-include="'templates/expanded.html'"></div>
    </div>
    <div ng-show="!vm.expanded" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidenav">
        <div ng-include="'templates/contracted.html'"></div>
    </div>
</div>
<div ng-show="!vm.expanded">
    <div id="myContent" ng-switch="vm.content" class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2" >
        <div ng-switch-when="0">
            loading....
        </div>
        <div ng-switch-when="1">
            <div ng-include="'templates/about.html'"></div>
        </div>
        <div ng-switch-when="2">
            <div ng-include="'templates/projects.html'"></div>
        </div>
        <div ng-switch-when="3">
            <div ng-include="'templates/work.html'"></div>
        </div>
    </div>
</div>