<div class="container">
    <br><br>
    <h1>Projects</h1>
    <hr><br>
    <h2 class="section-heading">Terminal Reality</h2>
    <h2 class="text-justified">
        <small>For my final year undergraduate project we had to create a 3D multilayer game, as I
            co-majored in Computer Games Development and Computer Science.
            We created Terminal Reality, a first person zombie shooter where you have to fight your way out of a Zombie
            infested hospital.
            This project was done in collaboration with Alon Bresler and Osher Shuman.
            The game’s website can be found
            <a target="_blank" href="http://pubs.cs.uct.ac.za/gamesproj/cgi-bin/view/2015/brsalo001_shmosh001_vhland002.zip/">here</a>,
            where more info and some media content is available, as well as the game itself. The code can be found on my
            <a target="_blank" href="https://github.com/andreasVHoly">GitHub</a> page.
        </small>
    </h2>
    <hr>
    <h2 class="section-heading">BantuWeb</h2>
    <h2 class="text-justified">
        <small>
            My honours project involves making the Web portal and corresponding back-end for a digital archive for
            resource scare South African languages. More about the project can be found on our <a target="_blank" href="https://people.cs.uct.ac.za/~brsalo001/SALANG/">website</a>.
            My role in the project involves creating a Web portal for users to explore the content and for them to
            upload their own content in resource scare languages.
            Gamification plays a big role, as I am researching how Gamification can influence users to
            contribute more content. On the front-end I am using AngularJS and Bootstrap which is working together with a
            python Django back-end. I purposefully chose this part of the project as in our undergrad and honours years
            no Web development was covered and saw this as an opportunity to get into this important field. Even though
            it has been a learning curve of note, I have enjoyed it a lot and pride myself in how much I have achieved
            in this field in such a short time for the project.
        </small>
    </h2>
    <hr>
    <h2 class="section-heading">Kalahari-Eye</h2>
    <h2 class="text-justified">
        <small>
            In my spare time (which there has been none of this year), I am working on a project for a
            family friend involving live video feed processing over long WiFi connections for mobile devices. The
            project has taught me a lot and is very interesting to me as it involves a lot of different technologies
            that I have previously not worked with. The project is still in very early stages as I have only worked on
            it for about a month, but hopefully I have more time to work on it soon. All code can be found on my
            <a target="_blank" href="https://github.com/andreasVHoly">GitHub</a> page.
        </small>
    </h2>
    <br><br>
    <br><br>
</div>