<div class="container">
    <br><br>
    <h1>About</h1>
    <hr><br>
    <h2 class="section-heading">tl;dr</h2>
    <h2 class="text-justify">
        <small>I am currently doing my Honours in Computer Science at the the <a target="_blank" href="http://www.uct.ac.za/">University of Cape Town</a>,
            having completed my Bachelor of Science (BSc) at UCT in Computer Science and Computer Games Development in
            2015. I also tutor two third year courses for the Computer Science department as well as private clients. My
            honours project involves working on an Information Retrieval
            <a href="https://people.cs.uct.ac.za/~brsalo001/SALANG/" target="_blank">project</a>
            intended to create a digital archive for online resources in official South African Internet-Scarce
            Languages, where I am doing the Web development section.
        </small>
    </h2>
    <hr><br>
    <h2 class="section-heading">Background</h2>
    <h2 class="text-justify">
        <small>I moved from Johannesburg to Cape Town in 2010 with my family, which at the time was as if the world
            ended for me. Coming to Cape Town was in hindsight the best move of my life, as Cape Town is such an amazing
            place and suited my outdoor lifestyle much more than the concrete Jungle. I attended the German school both
            in Johannesburg and Cape Town, before starting my Undergrad at the University of Cape Town
            in 2013. My school did not offer any Computer Science courses, which left me very undecided in what I wanted
            to do after Matric. Thankfully I had applied to UCT for Computer Science, which I in the end accepted as my
            career choice, not at all knowing what I was getting into. Luckily enough I picked up coding extremely fast
            and loved every bit of it. In my undergrad I took electives in other fields that interested me, such as
            Astronomy, Archeology and Film.
        </small>
    </h2>
    <hr><br>
    <h2 class="section-heading">Honours Year so far</h2>
    <h2 class="text-justify">
        <small>
            In my honours year I have tried to take a diverse number of courses to experience as many areas of
            Computer Science as possible. Of particular interest where the Networking courses, which included Network
            and Internetwork Security, Networks for Developing Regions and Measuring Internet Performance. These courses
            interested me a lot as they taught me more about securing yourself from threats but also a lot of practical
            experience with tools and methods that I find myself using on a weekly basis. All the networking courses
            have sparked my interest in Cyber Security which I spend time on as much as I can.
        </small>
        <br><br>
        <small>
            Another interesting course was Computer Graphics and 3D printing, where in C++ we wrote a program which
            allowed us to create Constructive Solid Geometry objects, which we later printed with the Departments 3D
            printer. This course was very difficult but also very rewarding as we ended up using our own program to make
            a personal model and printed it.
        </small>
        <br><br>
        <small>
            Lastly, I took a course in User Experience in Games, which involved taking my 3rd year Terminal Reality
            project and changing it into a pure Horror game to see how it would affect the users. This course was very
            enjoyable as I loved the Games Development part of it and testing with users. The report I wrote for this
            module achieved the top mark in the class.
        </small>
    </h2>
    <hr><br>
    <h2 class="section-heading">Interests</h2>
    <h2 class="text-justify">
        <small>My passions besides coding, lie with Outdoor sports, primarily with Mountain Biking, Sea Kayaking, Hiking
            and Fishing. I enjoy the outdoors a lot and chase adrenaline experiences as much as I can. To balance the
            outdoors with typical nerdy interests, I love Computer Games, playing more than I probably should, enjoy
            building and taking computers apart, modding my own computer and working on any other tech/hardware that
            needs fixing or interests me.
        </small>
    </h2>
    <br><br>
    <br><br>
</div>