<div class="container">
    <br><br>
    <h1>Work</h1>
    <hr><br>
    <h2 class="section-heading">Internship</h2>
    <h2 class="text-justify">
        <small>
            I have completed one internship at RBG applications, where I made an Android game using libGDX. The
            project was never published on the app store as I ran out of time. One of my goals is to still redo this
            project in a different development engine such as Unity or Unreal Engine. This internship did however teach
            me that projects are always bigger than they initially seem, but it was a big learning experience for me
            none the less and I enjoyed working there a lot.
        </small>
    </h2>
    <hr><br>
    <h2 class="section-heading">On the side</h2>
    <h2 class="text-justify">
        <small>
            I have been a tutor for the UCT Computer Science department for 3 years, tutoring first years in 2014, 2015
            and now third years in the C++/Artificial Intelligence and Games Development courses. I have been privately
            tutoring since 2014 with various clients and have been with one client since 2014.
        </small>
        <br>
        <small>
            As I love computers and technology a lot, I work for various family and friends when needed to keep their
            systems up to date, install new hardware and help with general computer problems.
        </small>
    </h2>
    <hr><br>
    <h2 class="section-heading">CV</h2>
    <h2 class="text-justify">
        <small>
            A copy of my CV can be found <a target="_blank" href="static/documents/CV%20-%20Andreas%20von%20Holy.pdf">here</a>.
        </small>
    </h2>
    <br><br>
    <br><br>
</div>